body{
    background-color: #edefe7;
}
h1, h2, h3{
    font-family: "Roboto", sans-serif;
    color: #ea4842;
}
h4, h5, h6{
    font-family: "Roboto", sans-serif;
    color: #ec9277;
}

/* #9dae6f verde
#edc743 amarillo
beige crudo #ece1ca */
